altgraph==0.17.2
anvil-parser==0.9.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
docutils==0.18.1
frozendict==2.3.2
idna==3.3
Kivy==2.1.0
Kivy-Garden==0.1.5
kivymd==0.104.2
mutf8==1.0.6
NBT==1.5.1
numpy==1.22.4
pandas==1.4.2
Pillow==9.1.1
pycparser==2.21
-e git+https://github.com/ammaraskar/pyCraft.git@bcd156e83bd35fb2fdc6cfa64f97bfc96d7cc1a1#egg=pyCraft
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
PyNBT==3.1.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.0
six==1.16.0
urllib3==1.26.9
